@font-face {
    font-family: '2084';
    src: url('http://dl.dropbox.com/s/usgfqu8d02zw4z6/2084.otf');
    src: url('http://dl.dropbox.com/s/usgfqu8d02zw4z6/2084.otf?#iefix') format('embedded-opentype'),
         url('http://dl.dropbox.com/s/twmhhplm8shxdu5/2084.woff') format('woff'),
         url('http://dl.dropbox.com/s/5vw3chrsn64q1jh/2084.ttf') format('truetype'),
         url('http://dl.dropbox.com/s/enn9jn64mv3fnvo/2084.svg#2084') format('svg');
    font-weight: normal;
    font-style: normal;

}


