@font-face {
    font-family: '2084';
    src: url('http://github.com/Teratoma/reduxredux/raw/master/2084.eot');
    src: url('http://github.com/Teratoma/reduxredux/raw/master/2084.eot?#iefix') format('embedded-opentype'),
         url('http://github.com/Teratoma/reduxredux/raw/master/2084.woff') format('woff'),
         url('http://github.com/Teratoma/reduxredux/raw/master/2084.ttf') format('truetype'),
         url('http://github.com/Teratoma/reduxredux/raw/master/2084.svg#2084') format('svg');
    font-weight: normal;
    font-style: normal;

}


